@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* /Pages/Compare.razor.rz.scp.css */
#filtrar[b-4dv8jig0ji] {
	position: absolute;
	top: 150px;
	left: 520px;
	display:flex; 
	justify-content: space-between;
	background-color:lightskyblue;
	padding: 20px;
	border-radius:10px;
	border: solid 5px blue;
}
#filtrar2[b-4dv8jig0ji] {
	position: absolute;
	top: 150px;
	left: 490px;
	display: flex;
	justify-content: space-between;
	background-color: lightskyblue;
	padding: 20px;
	border-radius: 10px;
	border: solid 5px blue;
}
#data-type[b-4dv8jig0ji]{
	margin-right: 20px;
}
#comparison-type[b-4dv8jig0ji] {
	margin-right: 20px;
}

.result[b-4dv8jig0ji] {
	background-color: aquamarine;
	padding: 20px;
	border-radius: 10px;
	border: solid 5px red;
	position: absolute;
	top: 120px;
	left: 105px;
	background-color: white;
	width: 300px;
	display: flex;
	align-items: center;
}
	.result ul[b-4dv8jig0ji] {
		max-height: 400px;
		overflow-y: auto;
		list-style: none;
		margin-left: -16px
	}
	.result ul li:hover[b-4dv8jig0ji]{
		text-decoration: underline;
		color: black;
		cursor: pointer;
	}

.result2[b-4dv8jig0ji] {
	background-color: aquamarine;
	padding: 20px;
	border-radius: 10px;
	border: solid 5px red;
	position: absolute;
	top: 120px;
	left: 132px;
	background-color: white;
	width: 300px;
	display: flex;
	align-items: center;
}

	.result2 ul[b-4dv8jig0ji] {
		max-height: 400px;
		overflow-y: auto;
		list-style: none;
		margin-left: -16px
	}

		.result2 ul li:hover[b-4dv8jig0ji] {
			text-decoration: underline;
			color: black;
			cursor: pointer;
		}

.fistPlayer[b-4dv8jig0ji] {
	position: absolute;
	top: 240px;
	left: 1260px;
	display: block;
	background-color: lightgreen;
	padding: 15px;
	border-radius: 10px;
	border: solid 5px green;
	text-align:center;
}
.secondPlayer[b-4dv8jig0ji] {
	position: absolute;
	top: 420px;
	left: 1255px;
	display: block;
	background-color: lightgreen;
	padding: 15px;
	border-radius: 10px;
	border: solid 5px green;
	text-align: center;
}
/* /Pages/Documentation.razor.rz.scp.css */
.custom-div[b-w3gbz66uv6] {
	position: absolute;
	left: 380px;
	top: 420px;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	width: 120px;
	height: 250px;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.custom-div button[b-w3gbz66uv6] {
	display: block;
	padding:20px;
	border-style:none;
}
	.custom-div button:hover[b-w3gbz66uv6] {
		border: solid 2px black;
		border-radius: 10px;
	}

.circle[b-w3gbz66uv6] {
	width: 80px;
	height: 80px;
	cursor: pointer;
	display:flex;
}
a[b-w3gbz66uv6] {
	all: unset;
	cursor: pointer;
}

a:hover[b-w3gbz66uv6] {
	text-decoration: underline;
}

.name[b-w3gbz66uv6] {
	font-size: large;
	font-weight: bold;
}

.cajaTexto[b-w3gbz66uv6] {
	position: absolute;
	top: 45px;
	left: -85px;
	background-color: white;
	padding: 5px;
	width: 225px;
	height: 75px;
	border-radius: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 5px 5px black;
}

.pizarraBasket[b-w3gbz66uv6] {
	width: 800px;
	height: 600px;
	border-radius: 8vh;
	box-shadow: 10px 5px 5px black;
}
.wait[b-w3gbz66uv6]{
	font:bold;
	font-size:50px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#videoContainer[b-w3gbz66uv6] {
	background-color: aliceblue;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
}
#videoContainer iframe.show[b-w3gbz66uv6] {
	opacity: 1;
}

#buttonContainer[b-w3gbz66uv6] {
	text-align: center;
	margin-top:20px;
}
#buttonContainer button[b-w3gbz66uv6] {
	margin: 0 10px;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}
#buttonContainer button:hover[b-w3gbz66uv6] {
	box-shadow: 5px 5px 5px black;
	background-color:dodgerblue;
	font-size:large;
}

.indicador[b-w3gbz66uv6] {
	position: absolute;
	left: 250px;
	top: 160px;
	width: 180px;
	height: 100px;
	padding: 10px;
	background-color:lightblue;
	border: 4px solid blue;
	border-radius: 10px;
	box-shadow: 3px 3px 3px royalblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	font-size:large;
}
/* /Pages/Index.razor.rz.scp.css */
*[b-cuvngh2dxe] {
    margin-top: 15vh;
}

.verTexto[b-cuvngh2dxe] {
    margin-top: 15vh;
}

.cuadradBuscador[b-cuvngh2dxe] {
    margin-top: -4vh;
    margin-left: 75vh;
}

.botonBuscar[b-cuvngh2dxe], .seleccionarPaises[b-cuvngh2dxe], .seleccionarEquipos[b-cuvngh2dxe], .botonRetro[b-cuvngh2dxe], .botonAvan[b-cuvngh2dxe] {
    height: 5vh;
    background-color: red;
    box-shadow: 0 0 5px 5px black;
    border-radius: 100px 100px 100px 100px;
    color: white;
    font-weight: bold;
    font-size: large;
}


.seleccionarPaises[b-cuvngh2dxe], .seleccionarEquipos[b-cuvngh2dxe] {
    width: 36vh;
    height: 5vh;
    margin-top: -1vh;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.seleccionarPaises[b-cuvngh2dxe] {
    margin-left: 20vh;
}

.seleccionarEquipos[b-cuvngh2dxe] {
    margin-left: 76vh;
}

.botonBuscar[b-cuvngh2dxe] {
    width: 10vh;
    font-weight: bold;
    color: white;
}

.cuadroBuscar[b-cuvngh2dxe] {
    width: 25vh;
    height: 5vh;
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
    border: 3px solid black;
    text-align: center;
}

    .cuadroBuscar:hover[b-cuvngh2dxe] {
        border: 5px solid black;
    }

.botonRetro[b-cuvngh2dxe], .botonAvan[b-cuvngh2dxe] {
    width: 5vh;
}

.cajaCont[b-cuvngh2dxe] {
    width: 10vh;
    height: 3vh;
    background-color: cornflowerblue;
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
}

.posRetro[b-cuvngh2dxe] {
    margin-top: -15vh;
    margin-left: -40vh;
}

.posAvan[b-cuvngh2dxe] {
    margin-top: -20vh;
    margin-left: 20vh;
}

.posCont[b-cuvngh2dxe] {
    margin-top: -19vh;
    margin-left: 65vh;
    text-align: center
}

.ordenarIcono[b-cuvngh2dxe] {
    width: 4vh;
    height: 4vh;
    background-color: red;
    box-shadow: 0 0 5px 5px;
    border-radius: 100px 100px 100px 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordenarNombre[b-cuvngh2dxe] {
    margin-left: 8vh;
    margin-top: -3vh;
}

.ordenarEdad[b-cuvngh2dxe], .ordenarAltura[b-cuvngh2dxe] {
    margin-left: -1vh;
    margin-top: -3vh;
}

.ordenarEquipo[b-cuvngh2dxe] {
    margin-left: -1vh;
    margin-top: -3vh;
}

.ordenarPais[b-cuvngh2dxe] {
    margin-left: 3vh;
    margin-top: -3vh;
}

.flechas[b-cuvngh2dxe] {
    width: 2.5vh;
    margin-top: -0.5vh;
    margin-left: -0.2vh;
}

#tabla[b-cuvngh2dxe] {
    margin-right: 15vh;
    margin-left: 20vh;
    margin-top: -14vh;
    opacity: 0.9;
    font-weight: bold;
    text-align: center;
}

.canasta[b-cuvngh2dxe] {
    margin-left: -15vh;
    margin-top: -5vh;
}
.canastaImagen[b-cuvngh2dxe]{
    width: 32vh;
    height:85vh;
}

.nombre[b-cuvngh2dxe] {
    width: 2%;
}

.edad[b-cuvngh2dxe], .altura[b-cuvngh2dxe], .equipo[b-cuvngh2dxe], .pais[b-cuvngh2dxe], .temporada[b-cuvngh2dxe] {
    width: 1%;
}

.imagenEquipo[b-cuvngh2dxe]{
    margin-left: 1vh;
}

th[b-cuvngh2dxe] {
    background-color: #003d55;
    border-bottom: 3px solid white;
    color: white;
}

tr:nth-child(even)[b-cuvngh2dxe] {
    background-color: #0D47A1;
    color: white;
}

tr:nth-child(odd)[b-cuvngh2dxe] {
    background-color: #1565C0;
    color: white;
}

td:nth-child(1)[b-cuvngh2dxe]{
    text-align: left;
}

.imagenEquipo[b-cuvngh2dxe]{
    width: 7vh;
    margin-top: -0.5vh;
}

/*---------------------------------------------------------------------------------*/


.tarjeta[b-cuvngh2dxe] {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 480px;
    background-color: darkgray;
    border: 5px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    z-index: 9999;
}

/* Estilos del botón de cierre */
.cerrar[b-cuvngh2dxe] {
    position: absolute;
    top: -100px;
    right: 25px;
    cursor: pointer;
    background-color:lightcoral;
    border:solid 3px darkred;
    border-radius:4px;
    padding:8px;
    font-size:large;
}

/* Estilos del contenido de la tarjeta */
.contenido[b-cuvngh2dxe] {
    margin-top: 30px;
}
.contenido ul li[b-cuvngh2dxe]{
    margin-top: 0;
}

.overlay[b-cuvngh2dxe] {
    position: fixed;
    top: -120px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
    z-index: 9999; /* Asegura que el overlay esté en la parte superior */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetita[b-cuvngh2dxe] {
    margin-top: -1vh;
    font-weight: bold;
}
/* /Pages/RssReader.razor.rz.scp.css */
.first-news-item[b-5wt8jmhwfh] {
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin-top: 80px;
	margin-left: 160px;
	border: solid 2px black;
	padding: 20px;
	background-color: #7d786d;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.news-item[b-5wt8jmhwfh] {
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin-top: 10px;
	margin-left: 160px;
	border: solid 2px black;
	padding: 20px;
	background-color: #7d786d;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.newsImg[b-5wt8jmhwfh] {
	width: 80%;
	height: 80%;
	max-width: 100%;
	border: solid 2px black;
	border-radius: 5px;
}
.image-container[b-5wt8jmhwfh] {
	flex: 0 0 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.news-content[b-5wt8jmhwfh] {
	flex: 1;
	text-align: center;
	border: solid 2px black;
	padding: 20px;
	background-color: #5a9ae8;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.title[b-5wt8jmhwfh]{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font:bold;
	color:black;
}
.title:hover[b-5wt8jmhwfh] {
	text-decoration: underline;
	text-decoration-color: black;
	cursor:pointer;
}
.aTitle[b-5wt8jmhwfh]{
	text-decoration:none;
}
.date[b-5wt8jmhwfh] {
	border: solid 2px black;
	border-radius: 5px;
	background-color: #f05457;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	width: 50%;
	margin-left: 150px;
	margin-bottom: -15px;
	margin-top: 20px
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-4z3mpqgufs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-4z3mpqgufs] {
    flex: 1;
}

.positionMain[b-4z3mpqgufs]{
    margin-left: -20vh;
}

/*Barra cuando no est� el men� de hamburguesa*/
.sidebar[b-4z3mpqgufs] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);/*Quita color del fondo del Navbar izquierdo para hacerlo horizontal*/
}

.top-row[b-4z3mpqgufs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-4z3mpqgufs]  a, .top-row[b-4z3mpqgufs]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-4z3mpqgufs]  a:hover, .top-row[b-4z3mpqgufs]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-4z3mpqgufs]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-4z3mpqgufs] {
        display: none;
    }

    .top-row.auth[b-4z3mpqgufs] {
        justify-content: space-between;
    }

    .top-row[b-4z3mpqgufs]  a, .top-row[b-4z3mpqgufs]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-4z3mpqgufs] {
        flex-direction: row;
    }

    .sidebar[b-4z3mpqgufs] {
        width: 250px;
        /*height: 100vh;*/
        position: sticky;
        top: 0;
    }

    .top-row[b-4z3mpqgufs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-4z3mpqgufs]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-4z3mpqgufs], article[b-4z3mpqgufs] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* /Shared/NavMenu.razor.rz.scp.css */
*[b-6lyoakfbmn]{
    font-weight: bold;
}

.navbar-toggler[b-6lyoakfbmn] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6lyoakfbmn] {
    height: 5.5rem;
    width: calc(637% - 3.6rem);
    background-image: linear-gradient(90deg, #0D47A1, #0D47A1, #1565C0, #1565C0, #1565C0, #F44336);
    box-shadow: 10px 5px 5px black; /*Sombra*/
    border-radius: 0px 5px 5px 5px;
    /*Centrar*/
    display: flex;
    justify-content: start;
    align-items: center;
}

/*.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}*/
/*Botones*/
.nav-item[b-6lyoakfbmn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    width: 25vh;
}

.nav-item:first-of-type[b-6lyoakfbmn] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-6lyoakfbmn] {
    padding-bottom: 1rem;
}

.nav-item[b-6lyoakfbmn]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

/*Navbar vertical*/
.nav-scrollable[b-6lyoakfbmn] {
    height: calc(89.3vh - 1.5rem); 
    background-image: linear-gradient(to bottom, #0D47A1, #0D47A1, #1565C0, #1565C0, #1565C0, #F44336);
    box-shadow: 3px 3px black; 
    border-radius: 0px 0px 5px 5px;
}

/*Bot�n activado*/
.nav-item[b-6lyoakfbmn]  a.active {
    color: white;
    box-shadow: 10px 5px 5px red;
}

/*Se ilumine los botones al pasar por encima*/
.nav-item[b-6lyoakfbmn]  a:hover {
    box-shadow: 10px 5px 5px yellow;
    color: white;
}

/*Im�genes*/
#imagenNBA[b-6lyoakfbmn] {
    width: 10vh;
    height: 8vh;
}

#imagenBall[b-6lyoakfbmn] {
    width: 9vh;
    height: 9vh;
}

#positionImage[b-6lyoakfbmn], #positionBall[b-6lyoakfbmn] {
    margin-top: -6vh;
}

#positionBall[b-6lyoakfbmn] {
    margin-left: auto;
    margin-right: 5vh;
}

/*T�tulo*/
#nbaDatabase[b-6lyoakfbmn] {
    color: white;
    margin-top: -4vh;
    margin-left: 23%;
    text-shadow: 5px 5px 5px red, 5px 5px 5px black; /*Sombra*/
}

.textoNav[b-6lyoakfbmn] {
    margin-left: 1vh;
    margin-top: 2.5vh;
}

/*Para pantalla peque�a*/
@media (max-width: 641px) {
    .top-row[b-6lyoakfbmn] {
        width: 100%;
    }

    #positionImage[b-6lyoakfbmn] {
        margin-top: -5vh;
    }

    #nbaDatabase[b-6lyoakfbmn] {
        margin-left: 25%;
    }

    /*Navbar vertical*/
    .nav-scrollable[b-6lyoakfbmn] {
        height: calc(30vh - 3.5rem); 
        background-image: linear-gradient(90deg, #0D47A1, #0D47A1, #1565C0, #1565C0, #1565C0, #F44336);
        background-color: black;
    }
    /*Desaparece pelota al disminuir pantalla*/
    #positionBall[b-6lyoakfbmn] {
        display: none;
    }
}

