.custom-div {
	position: absolute;
	left: 380px;
	top: 420px;
	transform: translate(-50%, -50%);
	background-color: #f2f2f2;
	width: 120px;
	height: 250px;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.custom-div button {
	display: block;
	padding:20px;
	border-style:none;
}
	.custom-div button:hover {
		border: solid 2px black;
		border-radius: 10px;
	}

.circle {
	width: 50px;
	height: 50px;
	background-color: black;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	display:flex;
}
a {
	all: unset;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.name {
	font-size: large;
	font-weight: bold;
}

.cajaTexto {
	position: absolute;
	top: 45px;
	left: -85px;
	background-color: white;
	padding: 5px;
	width: 225px;
	height: 75px;
	border-radius: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 5px 5px black;
}

.pizarraBasket {
	width: 800px;
	height: 600px;
	border-radius: 8vh;
	box-shadow: 10px 5px 5px black;
}
