@page "/documentacion"

<div style="position: relative; display: inline-block;">
    <img src="/assets/image/pizarra-basket.jpg" style="width: 800px; height: 600px; border-radius: 8vh" />
    @{
        foreach (var circle in Circles)
        {
            <div style="position: absolute; top: @(circle.Top)px; left: @(circle.Left)px;">
                <div class="circle" @onclick="() => ShowText(circle.Text)"></div>
                @if (!string.IsNullOrEmpty(circle.Text) && circle.Text == currentText)
                {
                    <div style="position: absolute; top: 30px; left: 30px; background-color: white; padding: 5px; width:250px; height:100px; align-content:center;">
                        <p>@(new MarkupString(circle.Text))</p>
                    </div>
                }
            </div>
        }
    }
</div>

@code {
    class Circle
    {
        public int Top { get; set; }
        public int Left { get; set; }
        public string Text { get; set; }
    }

    List<Circle> Circles = new List<Circle>();
    string currentText = "";

    protected override void OnInitialized()
    {
        // Agregar cuatro círculos en posiciones aleatorias

        var circle1 = new Circle
        {
            Top = 90,
            Left = 200,
            Text = "<p>Este trabajo está realizado por <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href =\"https://github.com/alejandropalaciosmartin\" target=\"_blank\"><span class=\"name\"><b>Alejandro</b></span></a> y <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href=\"https://github.com/AdrianLozanoMartinez\" target=\"_blank\"><span class=\"name\"><b>Adrian</b></span></a></p>"
        };
        Circles.Add(circle1);

        var circle2 = new Circle
            {
                Top = 450,
                Left = 200,
                Text = "Texto2"
            };
        Circles.Add(circle2);

        var circle3 = new Circle
            {
                Top = 90,
                Left = 565,
                Text = "Texto3"
            };
        Circles.Add(circle3);

        var circle4 = new Circle
            {
                Top = 450,
                Left = 565,
                Text = "Texto4"
            };
        Circles.Add(circle4);
        
    }

    void ShowText(string text)
    {
        currentText = text;
    }
}