@page "/documentacion"

<div style="position: absolute; display: inline-block; top:120px; left:500px;">
    <img class="pizarraBasket" src="/assets/image/pizarra-basket.jpg"/>
    @{
        int num = 1;
        foreach (var circle in Circles)
        {
            <div style="position: absolute; top: @(circle.Top)px; left: @(circle.Left)px;">
                <div class="circle" @onclick="() => ShowText(circle.Text)"><span style="color:antiquewhite;margin-left:17px;margin-top:10px; font-size:20px;"><b>@num</b></span></div>
                @if (!string.IsNullOrEmpty(circle.Text) && circle.Text == currentText)
                {
                    <div class="cajaTexto">
                        <div style="padding:6px;">
                            @(new MarkupString(circle.Text))
                        </div>
                    </div>
                }
            </div>
            num++;
        }
    }
</div>

@code {
    class Circle
    {
        public int Top { get; set; }
        public int Left { get; set; }
        public string Text { get; set; }
    }

    List<Circle> Circles = new List<Circle>();
    string currentText = "";

    protected override void OnInitialized()
    {
        // Agregar cuatro círculos en posiciones aleatorias

        var circle1 = new Circle
        {
            Top = 90,
            Left = 200,
            Text = "Este trabajo está realizado por <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href =\"https://github.com/alejandropalaciosmartin\" target=\"_blank\"><span class=\"name\"><b>Alejandro</b></span></a> y <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href=\"https://github.com/AdrianLozanoMartinez\" target=\"_blank\"><span class=\"name\"><b>Adrian</b></span></a>"
        };
        Circles.Add(circle1);

        var circle2 = new Circle
            {
                Top = 450,
                Left = 200,
                Text = "Consulta de datos específica de los jugadores de la NBA (1996 - 2021)"
            };
        Circles.Add(circle2);

        var circle3 = new Circle
            {
                Top = 90,
                Left = 565,
                Text = "Datos sacados de <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href =\"https://www.kaggle.com/datasets/justinas/nba-players-data\" target=\"_blank\"><b>URL</b></a>"
            };
        Circles.Add(circle3);

        var circle4 = new Circle
            {
                Top = 450,
                Left = 565,
                Text = "Click <a style=\"all: unset; cursor: pointer; text-decoration: underline;\" href=\"/assets/data/dataPrueba.json\" download=\"data.json\"><b>AQUÍ</b></a> descargar JSON"
            };
        Circles.Add(circle4);
        
    }

    void ShowText(string text)
    {
        currentText = text;
    }
}