* {
    margin-top: 15vh;
}

.verTexto {
    margin-top: 15vh;
}

.cuadradBuscador {
    margin-top: -95vh;
    margin-left: 80vh;
}

.botonBuscar, .ordenarNombres, .botonRetro, .botonAvan {
    height: 5vh;
    background-color: red;
    box-shadow: 0 0 5px 5px;
    border-radius: 100px 100px 100px 100px;
    font-weight: bold;
}

.botonBuscar {
    width: 10vh;
}

.cuadroBuscar {
    width: 25vh;
    height: 5vh;
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
    border: 3px solid black;
}

    .cuadroBuscar:hover {
        border: 5px solid black;
    }

.ordenarNombres, .botonRetro, .botonAvan {
    width: 5vh;
}

.cajaCont {
    width: 10vh;
    height: 3vh;
    background-color: cornflowerblue;
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
}

.posRetro {
    margin-top: -20vh;
    margin-left: 143vh;
}

.posAvan {
    margin-top: -20vh;
    margin-left: 160vh;
}

.posCont {
    margin-top: -19vh;
    margin-left: 149vh;
    text-align: center
}

.ordenarIcono {
    width: 4vh;
    height: 4vh;
    background-color: red;
    box-shadow: 0 0 5px 5px;
    border-radius: 100px 100px 100px 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordenarNombre {
    margin-left: 8vh;
    margin-top: -3vh;
}

.ordenarEdad, .ordenarAltura {
    margin-left: -1vh;
    margin-top: -3vh;
}

.ordenarEquipo {
    margin-left: -1vh;
    margin-top: -3vh;
}

.ordenarPais {
    margin-left: 3vh;
    margin-top: -3vh;
}

.flechas {
    width: 2.5vh;
    margin-top: -0.5vh;
    margin-left: -0.2vh;
}

.ordenarNombres {
    width: 30vh;
    height: 5vh;
    margin-left: 20vh;
    margin-top: -1vh;
}

#tabla {
    margin-right: 15vh;
    margin-left: 20vh;
    margin-top: -14vh;
    opacity: 0.9;
    font-weight: bold;
    text-align: center;
}

.canasta {
    margin-left: -15vh;
    margin-top: -5vh;
}
.canastaImagen{
    width: 32vh;
    height:85vh;
}

.nombre {
    width: 2%;
}

.edad, .altura, .equipo, .pais, .temporada {
    width: 1%;
}

.imagenEquipo{
    margin-left: 1vh;
}

th {
    background-color: #003d55;
    border-bottom: 3px solid white;
    color: white;
}

tr:nth-child(even) {
    background-color: #0D47A1;
    color: white;
}

tr:nth-child(odd) {
    background-color: #1565C0;
    color: white;
}

td:nth-child(1){
    text-align: left;
}

.imagenEquipo{
    width: 7vh;
    margin-top: -0.5vh;
}

