* {
    margin-top: 15vh;
}

.verTexto {
    margin-top: 15vh;
}

.cuadradBuscador {
    margin-top: -95vh;
    margin-left: 70vh;
}

.jugadorBuscador {
    color: white;
    font-weight: bold;
}

.ordenarNombres, .botonRetro, .botonAvan {
    width: 5vh;
    height: 5vh;
    background-color: red;
    box-shadow: 0 0 5px 5px;
    border-radius: 100px 100px 100px 100px;
    font-weight: bold;
}

.cajaCont {
    width: 10vh;
    height: 3vh;
    background-color: cornflowerblue;
    font-weight: bold;
    border-radius: 50px 50px 50px 50px;
}

.posRetro {
    margin-top: -15vh;
    margin-left: 143vh;
}

.posAvan {
    margin-top: -20vh;
    margin-left: 160vh;
}

.posCont {
    margin-top: -19vh;
    margin-left: 149vh;
    text-align: center
}


.ordenarNombres {
    width: 30vh;
    height: 5vh;
    margin-left: 20vh;
    margin-top: -1vh;
}

#tabla {
    margin-right: 15vh;
    margin-left: 20vh;
    margin-top: -14vh;
    opacity: 0.9;
    /*background-color: white;*/
    font-weight: bold;
    text-align: center;
}

.canasta {
    margin-left: -15vh;
    margin-top: -5vh;
}
.canastaImagen{
    width: 32vh;
    height:85vh;
}

.nombre, .pais {
    width: 10%;
}

.edad, .altura {
    width: 2%;
}

.equipo, .temporada {
    width: 3%;
}

th {
    background-color: #003d55;
    border-bottom: 3px solid white;
    color: white;
}

tr:hover {
   /* border: rgb(227, 55, 55) 0.5vh solid;
    font-size: 3vh;
    font-weight: bold;*/
    /*cursor: pointer;*/
}

tr:nth-child(even) {
    background-color: #0D47A1;
    color: white;
}

tr:nth-child(odd) {
    background-color: #1565C0;
    color: white;
}

td:nth-child(1){
    text-align: left;
}

.imagenEquipo{
    width: 7vh;
    margin-top: -0.5vh;
}

