<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
        <h1 id="nbaDatabase">NBA Database</h1>
        <div id="positionImage">
            <img src="./assets/image/nba.png" id="imagenNBA">
        </div>
    <div id="positionBall">
        <img src="/assets/image/pelota2.jpg" id="imagenBall">
    </div>
</div>

@*<div class="@NavMenuCssClass nav-scrollable mostrar" @onclick="ToggleNavMenu">*@
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><p class="textoNav">Database</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentacion">
                <span class="oi oi-plus" aria-hidden="true"></span><p class="textoNav">Documentación</p>
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
    </nav>
</div>


